body {
    padding: 0;
    font-family: 'Crimson Text', serif;
    color: #001059;
    background: #ffffff;
}
body, h1, h2, h3 { margin: 0; }
h1, h2, h3 {
    font-weight: 400;
    display: inline-block;
    line-height: 1.0;
    font-family: 'Crimson Text', serif;
}
h1 { font-size: 8rem; }
h2 { font-size: 1.8rem; }
hr {
    height: 1px;
    border: 0;
    border-top: 2px solid #345494;
    width: 250px;
    margin: 15px 0 35px 0;
}
a {
    text-decoration: none;
    color: #757ea3;
}
a:hover { color: #001059; }
hr#press-rule {
    width: 77%;
    margin: auto;
}
hr.content-rule {
    width: 100%;
    margin-bottom: 0;
}
.footer {
    padding: 100px 0 25px 0;
}
#right-foot {
    text-align: right;
}
#content {
    width: 77%;
    margin: auto;
}
.half-column {
    width: 48%;
    display: inline-block;
    vertical-align: top;
}
.press-socials {
    vertical-align: bottom;
}
.press-section {
    padding: 30px 0 15px 0;
}
.news-source {
    padding-left: 5px;
}
.press-preview {
    margin-right: 0.5%;
    width: 19%;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
}
.press-preview:hover {
    opacity: 0.8;
}
.social-count {
    font-size: 16px;
    vertical-align: text-top;
    padding-right: 15px;
}
.nav-link {
    padding-left: 15px;
}
#big-inits {
    float: right;
    font-size: 20rem;
    opacity: 0.01;
    line-height: 1.0;
    position: fixed;
    top: -20px;
    right: -150px;
    text-align: center;
    z-index: -1;
}
#nav-left, #nav-right {
    position: fixed;
    z-index: 1;
}
#nav-left {
    text-align: left;
    width: 49%;
    opacity: 0.6;
}
#nav-right {
    text-align: right;
    width: 99%;
    float: right;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-right: 35px;
    background-color: #ffffff99;
}
#main-left, #main-right {
    width: 40%;
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 0;
}
.text-nav {
    margin-right: 20px;
    vertical-align: top;
}
#right-content { padding-top: 55px; }
#huge {
    opacity: 0.01;
    width: 900px;
    margin: -200px 0 0 -150px;
    position: fixed;
    z-index: -1;
}
#reg {
    width: 90%;
    margin: -57px 50px 0 -25px;
}
#media {
    height: 85vh;
    margin-top:0px;
}
#about {
    height: 50vh;
    margin-top: 200px;
    padding-top: 140px;
}
#yt-contain {
    width: 75%;
    margin: auto;
}
#youtube-player {
    border-radius: 5px;
    border-color: black;
    margin-top: 25px;
    width: 100%;
    height: 565px;
    box-shadow: 1px 1px 8px #383838;
}
#vert-videos {
    transform: rotate(90deg);
    float: right;
    margin: 360px -33px 0 0;
    display: none;
    opacity: 0.6;
}
#more-videos {
    width: 100%;
    text-align: center;
    padding-top: 20px;
}
#press-head {
    width: 100%;
    text-align: center;
    padding: 60px 0 120px 0;
}
#press-logo {
    width: 180px;
}
#ll-circle {
    width: 400px;
    margin-left: 165px;
    opacity: 0.85;
    display: none;
}
#about-contain {
    width: 43%;
    text-align: center;
    float: right;
    margin: 35px 180px 0 0;
    display: none;
}
#about-text { font-size: 1.8rem; }
#spotify {
    height: 80px;
    width: 75%;
    margin: 65px 12.5% 0 12.5%;
    border-radius: 5px;
    border-color: black;
    box-shadow: 1px 1px 8px #383838;
}
.fb_iframe_widget  {
    width: 500px;
    height: 300px;
}
#insta-embed {
    text-align: center;
    height: 125vh;
    padding-top: 250px;
    width: 75%;
    margin: auto;
}
#contact {
    background-image: url(images/BG.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: bottom;
}
#contact-contain {
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
#contact-us {
    font-size: 6.5rem;
    color: #001059;
}
#contact-us:hover { color: #757ea3; }
#check-us-out {
    font-size: 6.0rem;
    margin-bottom: 20px;
}
#email {
    width: 80px;
    margin-top: 25px;
    opacity: 0.5;
}
#email:hover { opacity: 1.0; }
.vert {
    transform: rotate(-90deg);
    margin: 20vh 0 0 -315px;
    display: none;
}
.slash {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.5rem;
    opacity: 0.6;
}
.social-icon, .big-social, .article-link, #email, #contact-us, a {
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
}
.social-icon {
    width: 30px;
    opacity: 0.4;
}
.big-social {
    opacity: 0.4;
    width: 70px;
    margin-bottom: 200px;
}
.social-icon:hover, .big-social:hover { opacity: 0.8; }
.bigSM { height: 250px; }
#press-header {
    font-size: 100px;
}
.css {
    padding-bottom: 20px;
    position: relative
}
.css label {
    cursor: pointer;
    color: #757ea3;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
}
.css label:hover {
    color: #001059;
}
.css label:before {
    content: attr(data-more)
}
.css [type="checkbox"] {
    display: none
}
.css label {
    position: absolute;
    bottom: 0;
}

.css [type="checkbox"] + label + p {
    display: none
}
.css [type="checkbox"]:checked + label + p {
    display: block
}
.css [type="checkbox"]:checked + label:before {
    content: attr(data-less)
}
.press-text {
    font-size: 15px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 0;
}
.to-top {
    display: none;
}
/* Responsiveness */
@media screen and (max-width: 1024px) {
    #about-contain { display: block; }
    #main-left, #main-right { padding: 100px 0 100px 0; }
    #nav-left { width: auto; }
    #big-inits { opacity: 0; }
    #media { height: auto; }
    #yt-contain { width: 70%; }
    #about { height: 600px; }
    #contact { height: 700px; }
    #check-us-out, #contact-us { font-size: 5rem; }
    .vert { margin-left: -140px; }
    #about-contain {
        width: 73%;
        margin: 210px auto auto auto;
        float: none;
    }
    #insta-embed {
        padding-top: 20px;
        height: auto;
    }
}
@media screen and (max-width: 750px) {
    #reg { display: none; }
    #main-left { width: 0; }
    #media { height: 110vh; }
    #check-us-out, #contact-us { font-size: 2.3rem; }
    #contact { height: 500px; }
    hr { margin: 15px auto 35px auto; }
    h2.left-link { font-size: 1.5rem; }
    .slash { font-size: 1.2rem; }
    .vert { margin: 190px 0 0 -130px; }
    .big-social, #email { width: 50px; }
    .bigSM { height: 100px; }
    #about {
        padding-top: 50px;
        height: 850px;
    }
    #main-right {
        text-align: center;
        width: 100%;
        margin: auto;
    }
    #yt-contain {
        width: 100%;
        position: absolute;
    }
}
@media screen and (max-width: 769px) {
    .half-column {
        width: 100%;
    }
    .to-top {
        display: block;
        text-align: right;
        font-size: 12px;
    }
    #press-header {
        font-size: 50px;
        margin-bottom: 20px;
    }
    #press-head {
        padding: 40px 0 80px 0;
    }
    .press-sm-link {
        display: list-item;
    }
    .press-preview {
        width: 100%;
    }
    .footer {
        padding: 40px 0 20px 0;
        font-size: 12px;
        display: table-cell;
    }
}