#about {
	padding: 40px 120px 120px 120px;
}
#live-dates {
	padding: 120px 120px 25px 120px
}
#about .col-lg-6 {
	margin-bottom: 1.5rem;
}
#about .col-lg-6 p {
	margin-right: .75rem;
	margin-left: .75rem;
}
/*#about-liam {
	padding-left: 20%;
}
#about-leigh {
	padding-right: 20%;
}*/
#see-us-live, #booking-info, #more-vid, #spotify{
    border-right: 0;
}
#live-right, #book-right, #vid-right, #spotify-right, #book-contact {
	width: 100%;
	margin-bottom: 65px;
}
#spotify {
    margin-top: 45px;
}
#spotify-icon {
	width: 33px;
	padding-right: 7px;
	vertical-align: top;
}
#main-header {
	font-size: 6rem;
}
#video {
	background-color: #070a38;
	padding: 0;
	line-height: 0;
}
@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}
#see-us-live:hover, #booking-info:hover, #more-vid:hover, #spotify:hover, #press-book:hover {
	animation: bounce 1s;
}
#book-right, #spotify-right, #book-contact {
	margin-bottom: 0;
	padding-bottom: 125px;
	background-color: #070a38;
}
#spotify-right {
	padding-bottom: 100px;
}
#book-contact {
	padding-bottom: 45px;
}
#press-book-cta {
	background-color: #373a5d;
	text-align: center;
}
#press-book {
	padding: 10px 15px 10px 15px;
	cursor: pointer;
	font-size: 1.2rem;
}
#vid-right {
	margin-bottom: 0;
    padding-top: 45px;
	padding-bottom: 220px;
	background-color: #070a38;
	background-image: url(../resources/about.png);
	background-position: bottom;
	background-size: cover;
	width: 100%;
}
.social-icon {
	margin-top: 10px;
    width: 45px;
    padding-right: 1px;
    opacity: 0.30;
	transition: 0.5s linear;
	 -webkit-transition: 0.5s linear;
	 -moz-transition: 0.5s linear;
	 -o-transition: 0.5s linear;
}
.social-icon:hover {
	opacity: 1.0;
}
.contact-social {
	width: 38px;
	opacity: 0.6;
	margin-bottom: 20px;
}
.footer-social {
	width: 33px;
	opacity: 0.6;
	margin-bottom: 5px;
}
.contact-social:hover, .footer-social:hover {
	opacity: 1;
}

.social-link:hover {
	text-decoration: none;
}
.vid-btn {
	display: contents;
	width: 25%;
    padding: 0;
    margin: 0;
    border: none;
    font-size: 0;
}
.vid-thumb {
/*	width: 25%;*/
	cursor: pointer;
	transition: 0.25s linear;
	 -webkit-transition: 0.25s linear;
	 -moz-transition: 0.25s linear;
	 -o-transition: 0.25s linear;
}
#music {
	background-color: #070a38;
	width: 100%;
	padding: 0;
	margin: 0;
	font-size: 0;
}

.img-wrap {
  position: relative;
  width: 25%;
  display: inline-block;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #041037d6;
  cursor: pointer;
}

.img-wrap:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 1.1;
}

#contact {
	background-color: #070a38;
	padding-bottom: 100px;
	text-align: center;
}
input[type=text],
input[type=email],
input[type=submit],
textarea {
  width: 550px;
  margin: 20px auto 0 auto;
  padding: 4px;
  outline: 0;
  color: #FFF;
}
::placeholder {
  color: #44a3f7;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder { color: #44a3f7; } /* Internet Explorer 10-11 */
::-ms-input-placeholder { color: #44a3f7; } /* Microsoft Edge */
input {
  border: none;
  -webkit-transition: border-bottom .35s ease-in-out;
  transition: border-bottom .35s ease-in-out;
}
input[type=text],
input[type=email],
textarea[type=message] {
  display: block;
  background-color: #102154;
  border-bottom: 2px solid #44a3f7;
}
input[type=text]:focus,
input[type=text]:hover,
input[type=email]:focus,
input[type=email]:hover
{ border-bottom: 2px solid #FFF; }
textarea[type=message] {
  border: 2px solid #44a3f7;
  border-radius: 4px;
  -webkit-transition: border .35s ease-in-out;
  transition: border .35s ease-in-out;
}
textarea[type=message]:focus,
textarea[type=message]:hover {
  border: 2px solid #FFF;
}
input[type=submit] {
  width: 85px;
  color: #102154;
  padding-bottom: 8px;
  background-color: #44a3f7;
  border-color:#44a3f7;
  border-radius: 4px;
  -webkit-transition: background-color .35s ease-in-out, border-color .35s ease-in-out;
  transition: background-color .35s ease-in-out, border-color .35s ease-in-out;
}
input[type=submit]:hover {
  background-color: #FFF;
  border-color: #FFF;
  cursor: pointer;
}
#contact-head {
	margin: 0;
}
.text-blue {
	color: #2d4379;
}


/* PRESS STYLES */
hr#press-rule {
    width: 77%;
    margin: auto;
}
#press-head {
    width: 100%;
    text-align: center;
    padding: 120px 0 120px 0;
}
.live-vid {
    width: 49%;
    padding-bottom: 20px;
    display: inline-block;
}
.vid-end {
	padding-bottom: 0;
}
.half-column {
    width: 48%;
    display: inline-block;
    vertical-align: top;
}
.press-navbar {
    text-align: center;
    background-color: #070a38;
    padding-top: 15px;
    padding-bottom: 15px;
}
.press-nav {
    color: #fff;
    font-size: 18px;
    padding-right: 25px;
    padding-top: 15px;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
}
.press-nav:hover {
    color: #001059;
}
.press-socials {
    vertical-align: bottom;
    margin-top: 0;
    width: 32px;
}
.press-section {
    padding: 30px 0 15px 0;
}
.press-preview {
    margin-right: 0.5%;
    width: 19%;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
}
.press-preview:hover {
    opacity: 0.8;
}
.social-count {
    font-size: 16px;
    vertical-align: text-top;
    padding-right: 15px;
}
#press-logo {
    width: 180px;
}
#press-header {
    font-size: 6.5rem;
    margin: 0;
}
.press-text {
	display: inline;
    font-size: 15px;
    font-family: 'Rubik', 'Helvetica Neue', sans-serif;
}
.to-top {
    display: none;
}
.press-nav:hover {
	text-decoration: none;
	color: #44a3f7;
}
.press-sm-link:hover {
	text-decoration: none;
}
.press-email {
	-o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
}
.press-email:hover {
	color: #4da3ff;
}
.big-social {
    opacity: 0.4;
    width: 70px;
    margin-bottom: 200px;
}
.big-social:hover { opacity: 0.8; }
#content {
    width: 80%;
    margin: auto;
}
.press-footer {
	padding: 80px 25px 20px 0;
	text-align: right;
}
.sc-player {
	width: 49%;
}

/* Bio Dropdown */
.css {
    padding-bottom: 20px;
    position: relative
}
.css label {
    cursor: pointer;
    color: #757ea3;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
}
.css label:hover {
    color: #001059;
}
.css label:before {
    content: attr(data-more)
}
.css [type="checkbox"] {
    display: none
}
.css label {
    position: absolute;
    bottom: 0;
}
.css [type="checkbox"] + label + p {
    display: none
}
.css [type="checkbox"]:checked + label + p {
    display: block
}
.css [type="checkbox"]:checked + label:before {
    content: attr(data-less)
}
#bio-length {
	color: #007bff;
	font-style: italic;
}
#bio-length:hover {
	color: #4da3ff;
}
/* --- */
a:hover {
	color: #4da3ff;
}

@media screen and (max-width: 769px) {
    .half-column {
        width: 100%;
    }
    .to-top {
        display: block;
        text-align: right;
        font-size: 12px;
    }
    #press-header {
        font-size: 50px;
        margin-bottom: 20px;
    }
    #press-head {
        padding: 40px 0 80px 0;
    }
    .press-sm-link {
        display: list-item;
    }
    .press-preview {
        width: 100%;
    }
    .live-vid {
    	width: 98%;
    }
    .sc-player {
    	width: 98%;
    }
}
@media (max-width: 1210px) {
  .jumbotron {
    padding-bottom: 3rem;
  }
  #live-right {
    margin-bottom: 125px;
  }
}
@media (max-width: 1010px) {
  .jumbotron {
	padding-top: 15rem;
  }
}
@media (max-width: 870px) {
  .jumbotron {
	padding-top: 12rem;
  }
}
@media (max-width: 783px) {
  .jumbotron {
    padding-bottom: 0rem;
  }
  #main-header {
	font-size: 5rem;
  }
  #live-dates {
    padding: 120px 0px 25px 0px;
  }
}

@media (max-width: 767px) {
	.ml-auto, .mx-auto {
	    margin-left: 0 !important;
	    padding-left: 15px;
	    background-color: #041037;
	}
}


.sc-player-home {
	width: 33.333%;
}

@media (max-width: 703px) {
	.jumbotron {
    	padding-top: 10rem;
	}
	#live-right {
	    margin-bottom: 0;
	    margin-top: 150px;
	}
	#contact {
		padding-right: 0;
		padding-left: 0;
	}
	input[type=text], input[type=email], input[type=submit], textarea {
    	width: 350px;
	}
	.img-wrap {
		width: 50%;
	}
	.sc-player-home {
	    width: 100%;
	}

}
@media (max-width: 600px) {
	#main-header {
	    font-size: 3rem;
	}
	h1, .h1 {
		font-size: 2.5rem;
	}
	.social-icon {
	    width: 35px;
	}
	
}
@media (max-width: 577px) {
	.jumbotron {
    	padding-top: 3rem;
	}
	#about {
    	padding: 40px 0px 120px 0px;
	}

}
@media (max-width: 485px) {
	.jumbotron {
    	padding-top: 1.5rem;
	}
}
@media (max-width: 414px) {
	#main-header {
	    font-size: 2rem;
	}
	.social-icon {
	    width: 30px;
	    margin-top: 0;
	}
	.jumbotron {
	    padding-top: 0rem;
	}
	h1, .h1 {
		font-size: 2rem;
	}
	input[type=text], input[type=email], input[type=submit], textarea {
	    width: 250px;
	}
	#live-right {
		margin-top: 120px;
	}
	#see-us-live, #booking-info, #more-vid, #spotify {
		font-size: 0.9rem;
    	padding: 5px;
	}
}
